<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head th:replace="index :: main_head('Вход - АЛТЕХНОТРЕЙД',~{},~{})">
</head>

<body>

<div style="font-family: 'Numans', sans-serif;">
    <div class="modal-dialog modal-dialog-centered pt-3" role="document" style="max-width: 380px">
        <div class="modal-content">
            <div class="card shadow border border-white">
                <div class="card-header pb-0">
                    <div class="row d-flex ml-1">
                        <a href="javascript:history.go(-1)"
                           class="btn btn-transparent border-0 shadow-none px-2 py-2 mt-2">
                            <i class="fas fa-long-arrow-alt-left text-secondary fa-2x"></i>
                        </a>
                        <div class="ml-auto">
                            <div class="text-danger ml-2 mt-2">
                                <a href="/" class="btn btn-transparent text-danger border-0 shadow-none"><h3>
                                    ATTRADE</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-1 mt-4 mb-2 text-dark">
                        <h4>ВХОД</h4>
                    </div>
                </div>
                <div class="card-body py-0">
                    <div class="row justify-content-center text-secondary mt-4">
                        через социальные сети
                    </div>
                    <div class="d-flex justify-content-center mt-2 mb-4">
                        <a th:href="@{~/login/github}" class="btn btn-outline-dark mx-2"><i
                                class="fab fa-github  fa-3x"></i></a>
                        <a th:href="@{~/login/facebook}" class="btn btn-outline-primary mx-2"><i
                                class="fab fa-facebook fa-3x"></i></a>
                        <a th:href="@{~/login/google}" class="btn btn-outline-danger mx-2"><i
                                class="fab fa-google fa-3x"></i></a>
                    </div>
                    <div class="row justify-content-center text-secondary">
                        или
                    </div>
                    <div th:if="${error}" class="alert alert-danger py-0 my-1" role="alert">
                        <small>[[${error}]]</small>
                    </div>
                    <div th:unless="${error}" class="alert alert-transparent py-0 my-1" role="alert">
                        <small>&nbsp;</small>
                    </div>

                    <form th:action="@{~/login}" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="text" name="username"  th:value="${username}"
                                   class="form-control" th:classappend="${error} ? is-invalid : ''"
                                   placeholder="email"/>
                        </div>

                        <div class="input-group form-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password"
                                   class="form-control" th:classappend="${error} ? is-invalid : ''"
                                   placeholder="пароль"/>
                        </div>

                        <a href="#" class="float-right">Забыли пароль?</a>

                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-success btn-block float-right mt-2 mb-5">
                                Войти
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center text-secondary">
                        Еще не зарегистрированы?&nbsp;
                        <form th:action="@{~/registration}" method="get">
                            <button type="submit" class="btn btn-light border-0 shadow-none text-primary pt-0">
                                Регистрация
                            </button>
                        </form>
                    </div>
                    <div class="row justify-content-right text-muted mt-4">
                        <small>© 2001–2020 &emsp;ATTRADE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="index :: main_bottom_body" ></th:block>
</body>
</html>