<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head th:replace="index :: main_head('Регистрация - АЛТЕХНОТРЕЙД',~{},~{})">
</head>

<body>
<div style="font-family: 'Numans', sans-serif;">
    <div class="modal-dialog modal-dialog-centered pt-3" role="document" style="max-width: 380px">
        <div class="modal-content">
            <div class="card shadow border border-white">
                <div class="card-header pb-0 mb-4">
                    <div class="row d-flex ml-1">
                        <a href="javascript:history.go(-1)"
                           class="btn btn-transparent border-0 shadow-none px-2 py-2 mt-2">
                            <i class="fas fa-long-arrow-alt-left text-secondary fa-2x"></i>
                        </a>
                        <div class="ml-auto">
                            <div class="text-danger ml-2 mt-2">
                                <a href="/" class="btn btn-transparent text-danger border-0 shadow-none"><h3>
                                    ATTRADE</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-1 mt-4 mb-2 text-dark">
                        <h4>РЕГИСТРАЦИЯ</h4>
                    </div>

                </div>


                <div class="card-body py-0">
                    <form th:action="@{~/registration}" th:object="${user}" method="post">
                        <div th:if="${emailError}" class="alert alert-danger py-0 my-0" role="alert">
                            <small>[[${emailError}]]</small>
                        </div>
                        <div th:if="${UserAlreadyExistsException}" class="alert alert-danger py-0 my-0"
                             role="alert">
                            <small>[[${ UserAlreadyExistsException}]]</small>
                        </div>

                        <div th:if="${UserEmailValidationException}" class="alert alert-danger py-0 my-0"
                             role="alert">
                            <small>[[${UserEmailValidationException}]]</small>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" th:field="*{email}"
                                   autofocus="${user.email} ? 'autofocus' : ''"
                                   class="form-control"
                                   th:classappend="${emailError} or ${UserAlreadyExistsException} or ${UserEmailValidationException} ? is-invalid : ''"
                                   placeholder="email"/>
                        </div>

                        <div th:if="${UserPasswordValidationException}" class="alert alert-danger py-0 my-0"
                             role="alert">
                            <small>[[${UserPasswordValidationException}]]</small>
                        </div>

                        <div th:unless="${UserPasswordValidationException}" class="alert alert-warning py-0 my-0"
                             role="alert">
                            <small>[[${userPasswordInfo}]]</small>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password"
                                   class="form-control"
                                   th:classappend="${passwordError} or ${UserPasswordValidationException} ? is-invalid : ''"
                                   placeholder="пароль"/>
                        </div>

                        <div th:if="${passwordError}" class="alert alert-danger py-0 my-0" role="alert">
                            <small>[[${passwordError}]]</small>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-redo"></i></span>
                            </div>
                            <input type="password" name="passwordConfirm"
                                   class="form-control" th:classappend="${passwordError} ? is-invalid : ''"
                                   placeholder="повторите пароль"/>
                        </div>

                        <div th:if="${captchaError}" class="alert alert-danger py-0 my-0" role="alert">
                            <small>[[${captchaError}]]</small>
                        </div>

                        <div class="col">
                            <div class="g-recaptcha"
                                 data-sitekey="6LcsPcwUAAAAABCa7Ji97MeppQLn-2mMY8Wvd12-"></div>
                        </div>

                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-success btn-block float-right mt-2 mb-4">
                                Зарегистрировать
                            </button>
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-center text-secondary">
                        Уже зарегистрированы?&nbsp;
                        <form action="/login" method="get">
                            <button type="submit" class="btn btn-light border-0 shadow-none text-primary pt-0">
                                Войти
                            </button>
                        </form>
                    </div>
                    <div class="row justify-content-right text-muted mt-4">
                        <small>© 2001–2019 &emsp;ATTRADE</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="index :: main_bottom_body"></div>
</body>
</html>